.header{
    width: 99%;
    height: 50px;
    background: rgb(235, 152, 98);
    margin-top: 0%;
    padding: 5px;
    margin:0%;
}
nav ul{
    text-decoration: none;
}
nav ul li{
    display: inline;
    padding: 10px;
    text-decoration: none;
    font-size: 18px;
}

nav ul li a{
    text-decoration: none;
    padding: 10px;
}
nav ul li a:hover{
    background: rgb(196, 163, 120);
   
}
/*nav stop*/

.food-network{
    display: flex;
    width: 100%;


}
.food-content{
    width: 45%;
    margin: 2%;

}
.hedding-style{
    font-size: 40px;
    font-family: cursive;
    padding-top: 35%;
    padding-left: 50px;
}
.para-style{
    padding-left: 10px;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.span-style{
    color: lightsalmon;
}
.food-img{
    width: 45%;
    margin: 2%;
}
.food-img img{
    width: 90%;
}
.btn-style{
    width:50px;
    margin-left: 50px;
    padding: 10px;
    margin-top: 100px;
    border-radius: 20px;
    font-size: 25px;
    text-decoration: none;
    background-image: linear-gradient(rgb(224, 86, 86) , #ffc);
}

/* about area*/
.img-area{
    width: 25%;
    height: 25%;
}
.img-area img{
    padding: 30px;
    width: 50%;
    height: 50%;
}
.about-area{
    display: flex;
    background-image: url(img/shapes/7.png);
    margin: 10px;
}
.img-area{
    width: 50%;
    margin-left: 50px;
    padding-left: 70px;

}
.cotent-area{
    width: 50%;
    margin-left: 100px;
}
.headding-style{
    font-size: 40px;
    font-family: cursive;
    padding-top: 10%;
    padding-left: 10px;}
.para-style1{
    padding-left: 10px;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-display: inherit;
    
}
.recepi-para{
    text-align: center;
    font-size: 18px;
    
}
.btn-style2{
    width:50px;
    margin-left: 10px;
    margin-bottom: 100px;
    padding: 10px;
    border-radius: 20px;
    font-size: 25px;
    text-decoration: none;
    background-image: linear-gradient(rgb(224, 86, 86) , #ffc);
}
/**/
.Recepi-content{
    display: flex;
}
.img-style{
    width: 100%;
   
}
.content-style{  
    width: 30%;
    margin: 3%;
    padding:2%;
    box-shadow: 10px 10px 5px rgb(56, 55, 54);
    border-radius: 20px;
}

/**/
.content-area-style{
display: flex;
box-shadow: 10px 10px 30px rgb(56, 55, 54);
margin: 70px;
padding-left: 70px;
height: 300px;

}
.content-style2{
    width: 20%;
    margin: 10%;

   
}
.content-style3{
    font-size: 28px bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/*footer area style*/

.footer-area{
background: rgb(1, 1, 20);
color: wheat;
height: 250px;
}
.foter-hedding{
    text-align: center;
    margin: 20px;
    padding: 20px;

}
.foter-p{
    text-align: center ;
}